@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/* shared styles */

.btn-primary{
    background: linear-gradient(0.00deg, rgb(255, 128, 99) -28.333%,rgb(244, 96, 96) 95.833%);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500px;
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}



/* nav related styles */


.navbar{
    max-width: 1440px;
    height: 24px;
    margin: 0px auto;
    margin-top: 37px;
}

ul{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    gap: 40px;
    list-style: none;
    /* max-width: 319px; */
    justify-content: flex-end;
    
}

li a{
    text-decoration: none;
    color: rgba(60, 60, 60, 1);
}


/* banner related styles */

.banner, .about{
    max-width: 1440px;
    margin: 0px auto;
    /* background-color: bisque; */
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: space-around;
}

.banner-image, 
.about-image{
    max-width: 532px;
}

.banner-image img,
.about-image img{
    width: 100%;
}

#title-first,
.about-title{
    color: rgba(54, 57, 88, 1);
    font-size: 5rem;
    font-weight: 700px;
}

.about-title{
    margin-bottom: 27px;
}

#title-second{
    color: rgba(255, 131, 103, 1);
    font-size: 5rem;
    font-weight: 700px;
    margin-bottom: 13px;
}

.banner-description,
.about-description{
    font-size: 1rem;
    color: rgba(62, 62, 62, 1);
    margin-bottom: 36px;
}

#about-btn{
    width: 170px;
    height: 60px;
}

/* project section styles*/

.project{
    background-color: rgba(229, 229, 229, 1);
    max-width: 1740px;
    margin-top: 71px;
}

.project-title{
    font-size: 3rem;
    font-weight: 700px;
    margin: 0px auto;
    text-align: center;
    padding-top: 100px;
}

#title-part-1{
    color: #F46060;
}

#title-part-2{
    color: #363958;
}

.project-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* display: flex; */
    gap: 20px;
    max-width: 1440px;
    margin: 0px auto;
    margin: 135px;
    justify-items: center;
    align-items: center;
}

.card{
    background-color: #FFFFFF;
    max-width: 370px;
    margin-bottom: 200px;
    border-radius: 19.74px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6.58px 19px 0px rgba(0, 0, 0, 0.07);
}

.card-img{
    width: 343px;
    height: 213px;
    margin-bottom: 25px;
}

.card-title{
    color: rgba(54, 57, 88, 1);
    margin-bottom: 13px;
    font-size: 1.4rem;
    font-weight: 700px;
}

.card-description{
    color: rgba(108, 108, 108, 1);
    font-size: 1rem;
    font-weight: 400px;
    padding-bottom: 20px;
    max-width: 316px;
}


/* work inquiry section related styles */

.inquiry{
    background: url(../shapes/Group_33094_1.png);
    max-width: 940px;
    height: 225px;
    margin: 0px auto;
    margin-bottom: 93px;
    border-radius: 30px;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.inquiry-title{
    color: #FFFFFF;
    width: 480px;
    font-size: 4rem;
    font-weight: 700px;
    /* width: 50%; */
    padding: 70px;
}


.inquiry-btn{
    background: linear-gradient(0.00deg, rgb(255, 128, 99) -28.333%,rgb(244, 96, 96) 95.833%);
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    width: 134px;
    height: 60px;
    margin: 60px;
    cursor: pointer;
}

.inquiry-btn:hover{
    background: linear-gradient(0.00deg, rgb(196, 100, 78) -28.333%,rgb(236, 145, 145) 95.833%);
}


/* social media section related styles */

.social{
    text-align: center;
}

.social-title-1{
    color: rgba(105, 104, 113, 1);
    font-size: 1.5rem;
    font-weight: 400px;
    margin-bottom: 19px;
}

.social-title-2{
    color: rgba(54, 57, 88, 1);
    font-size: 2.25rem;
    font-weight: 700px;
    margin-bottom: 20px;
}

.social-icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 70px;
}



/* responsive for phone */

@media screen and (max-width: 576px){
    ul, .banner{
        flex-direction: column;
        justify-content: flex-start;
    }

    .navbar{
        margin-bottom: 200px;
    }

    ul{
        text-align: center;
        margin: 150px;
        margin-top: 20px;
    }

    .banner{
        justify-items: center;
        margin: 20px;
        text-align: center;
    }

    .banner-image img{
        width: 100%;
    }


    /* about */

     .about{
        flex-direction: column-reverse;
    }

    .about-image{
        /* margin-left: 20px; */
        width: 100%;
    }

    .about-title{
        margin-top: 130px;
        margin-bottom: 0px;
    }

    .about-title,
    .about-description{
        /* text-align: center; */
        align-items: center;
        padding: 30px;
        text-align: center;
    }

    #about-btn{
        margin-left: 120px;
        /* margin: 0px auto; */
    }

    /* project */

    .project{
        width: 100%;
    }

    .project-card-container{
        grid-template-columns: repeat(1, 1fr);
        /* flex-direction: column; */
        margin: 20px;
        /* padding: 20px; */
        padding-bottom: 100px;
        margin-right: 20px;
    }

    .card{
        width: 300px;
        margin-bottom: 20px;
        padding: 15px;   
    }

    .card-img{
        width: 100%;
    }

    /* work inquiry */

    .inquiry{
        flex-direction: column;
        max-width: 300px;
        height: 350px;
        justify-content: space-around;
    }

    .inquiry-title{
        text-align: center;
        padding: 20px;
        width: 200px;
        font-size: 3rem;
        margin-top: 20px;
    }


    /* social media */


    .social-title-1{
        font-size: 1rem;
        font-weight: 400px;
    }

    .social-title-2{
        font-size: 1.25rem;
    }
}



/* Responsive for medium device */

@media screen and (min-width: 577px) and (max-width: 992px){
    .banner{
        flex-direction: column;
        justify-content: flex-start;
    }

    .navbar{
        margin-bottom: 250px;
    }

     ul{
        text-align: center;
        margin: 150px;
        margin-top: 20px;
        gap: 0px;
    }

    .navbar li{
        /* margin-left: 100px; */
        margin: 0px auto;
    }

    /* about */

    .about{
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-title{
        margin-top: 130px;
    }

    /* project */

    .project-card-container{
        grid-template-columns: repeat(1, 1fr);
        /* flex-direction: column; */
    }


    /* work inquiry */


    .inquiry{
        max-width: 650px;
    }

    .inquiry-title{
        text-align: center;
    }
    
}